slprj/
*.slxc
debug.log
*.slx.r2023a
!MicroMouseProgramming_Code/build/release/MicroMouseProgramming.bin
!MicroMouseProgramming_Code/build/debug/MicroMouseProgramming.bin
*instrumented/

MicroMouse_Deploy.bin
MicroMouse_Deploy.elf
MicroMouse_Deploy.hex
MicroMouse_Deploy_ert_rtw/
.vscode/settings.json
.vscode/c_cpp_properties.json
MicroMouseProgramming_Code/.vscode/c_cpp_properties.json
MicroMouseProgramming_Code/.vscode/settings.json
MicroMouseProgramming_Code/build/debug/ADCs.d
MicroMouseProgramming_Code/build/debug/ADCs.lst
MicroMouseProgramming_Code/build/debug/ADCs.o
MicroMouseProgramming_Code/build/debug/Buttons.d
MicroMouseProgramming_Code/build/debug/Buttons.lst
MicroMouseProgramming_Code/build/debug/Buttons.o
MicroMouseProgramming_Code/build/debug/IMU.d
MicroMouseProgramming_Code/build/debug/IMU.lst
MicroMouseProgramming_Code/build/debug/IMU.o
MicroMouseProgramming_Code/build/debug/INA219.d
MicroMouseProgramming_Code/build/debug/INA219.lst
MicroMouseProgramming_Code/build/debug/INA219.o
MicroMouseProgramming_Code/build/debug/LEDs.d
MicroMouseProgramming_Code/build/debug/LEDs.lst
MicroMouseProgramming_Code/build/debug/LEDs.o
MicroMouseProgramming_Code/build/debug/main.d
MicroMouseProgramming_Code/build/debug/main.lst
MicroMouseProgramming_Code/build/debug/main.o
MicroMouseProgramming_Code/build/debug/MicroMouseProgramming.elf
MicroMouseProgramming_Code/build/debug/MicroMouseProgramming.elf.in
MicroMouseProgramming_Code/build/debug/MicroMouseProgramming.hex
MicroMouseProgramming_Code/build/debug/MicroMouseProgramming.lss
MicroMouseProgramming_Code/build/debug/Motors.d
MicroMouseProgramming_Code/build/debug/Motors.lst
MicroMouseProgramming_Code/build/debug/Motors.o
MicroMouseProgramming_Code/build/debug/preformatted_flash.d
MicroMouseProgramming_Code/build/debug/preformatted_flash.lst
MicroMouseProgramming_Code/build/debug/preformatted_flash.o
MicroMouseProgramming_Code/build/debug/SSD1306.d
MicroMouseProgramming_Code/build/debug/SSD1306.lst
MicroMouseProgramming_Code/build/debug/SSD1306.o
MicroMouseProgramming_Code/build/debug/startup_stm32l476xx.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_adc_ex.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_adc_ex.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_adc_ex.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_adc.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_adc.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_adc.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_cortex.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_cortex.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_cortex.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_dma_ex.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_dma_ex.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_dma_ex.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_dma.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_dma.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_dma.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_exti.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_exti.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_exti.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_flash_ex.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_flash_ex.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_flash_ex.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_flash_ramfunc.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_flash_ramfunc.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_flash_ramfunc.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_flash.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_flash.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_flash.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_gpio.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_gpio.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_gpio.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_i2c_ex.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_i2c_ex.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_i2c_ex.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_i2c.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_i2c.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_i2c.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_msp.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_msp.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_msp.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_pwr_ex.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_pwr_ex.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_pwr_ex.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_pwr.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_pwr.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_pwr.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_rcc_ex.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_rcc_ex.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_rcc_ex.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_rcc.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_rcc.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_rcc.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_tim_ex.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_tim_ex.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_tim_ex.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_tim.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_tim.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_tim.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_timebase_tim.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_timebase_tim.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_timebase_tim.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_uart_ex.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_uart_ex.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_uart_ex.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_uart.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_uart.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal_uart.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_hal.o
MicroMouseProgramming_Code/build/debug/stm32l4xx_it.d
MicroMouseProgramming_Code/build/debug/stm32l4xx_it.lst
MicroMouseProgramming_Code/build/debug/stm32l4xx_it.o
MicroMouseProgramming_Code/build/debug/syscalls.d
MicroMouseProgramming_Code/build/debug/syscalls.lst
MicroMouseProgramming_Code/build/debug/syscalls.o
MicroMouseProgramming_Code/build/debug/sysmem.d
MicroMouseProgramming_Code/build/debug/sysmem.lst
MicroMouseProgramming_Code/build/debug/sysmem.o
MicroMouseProgramming_Code/build/debug/system_stm32l4xx.d
MicroMouseProgramming_Code/build/debug/system_stm32l4xx.lst
MicroMouseProgramming_Code/build/debug/system_stm32l4xx.o
MicroMouseProgramming_Code/build/debug/to_compile_flash.d
MicroMouseProgramming_Code/build/debug/to_compile_flash.lst
MicroMouseProgramming_Code/build/debug/to_compile_flash.o
MicroMouseProgramming_Code/build/debug/usbd_storage_if.d
MicroMouseProgramming_Code/build/debug/usbd_storage_if.lst
MicroMouseProgramming_Code/build/debug/usbd_storage_if.o
MicroMouseProgramming_Code/build/debug/user_diskio.d
MicroMouseProgramming_Code/build/debug/user_diskio.lst
MicroMouseProgramming_Code/build/debug/user_diskio.o
MicroMouseProgramming_Code/build/debug/VL53L0X.d
MicroMouseProgramming_Code/build/debug/VL53L0X.lst
MicroMouseProgramming_Code/build/debug/VL53L0X.o
MicroMouseProgramming_Code/build/release/ADCs.d
MicroMouseProgramming_Code/build/release/ADCs.lst
MicroMouseProgramming_Code/build/release/ADCs.o
MicroMouseProgramming_Code/build/release/Buttons.d
MicroMouseProgramming_Code/build/release/Buttons.lst
MicroMouseProgramming_Code/build/release/Buttons.o
MicroMouseProgramming_Code/build/release/IMU.d
MicroMouseProgramming_Code/build/release/IMU.lst
MicroMouseProgramming_Code/build/release/IMU.o
MicroMouseProgramming_Code/build/release/INA219.d
MicroMouseProgramming_Code/build/release/INA219.lst
MicroMouseProgramming_Code/build/release/INA219.o
MicroMouseProgramming_Code/build/release/LEDs.d
MicroMouseProgramming_Code/build/release/LEDs.lst
MicroMouseProgramming_Code/build/release/LEDs.o
MicroMouseProgramming_Code/build/release/main.d
MicroMouseProgramming_Code/build/release/main.lst
MicroMouseProgramming_Code/build/release/main.o
!MicroMouseProgramming_Code/build/release/MicroMouseProgramming.bin
MicroMouseProgramming_Code/build/release/MicroMouseProgramming.elf
MicroMouseProgramming_Code/build/release/MicroMouseProgramming.elf.in
MicroMouseProgramming_Code/build/release/MicroMouseProgramming.hex
MicroMouseProgramming_Code/build/release/MicroMouseProgramming.lss
MicroMouseProgramming_Code/build/release/Motors.d
MicroMouseProgramming_Code/build/release/Motors.lst
MicroMouseProgramming_Code/build/release/Motors.o
MicroMouseProgramming_Code/build/release/preformatted_flash.d
MicroMouseProgramming_Code/build/release/preformatted_flash.lst
MicroMouseProgramming_Code/build/release/preformatted_flash.o
MicroMouseProgramming_Code/build/release/SSD1306.d
MicroMouseProgramming_Code/build/release/SSD1306.lst
MicroMouseProgramming_Code/build/release/SSD1306.o
MicroMouseProgramming_Code/build/release/startup_stm32l476xx.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_adc_ex.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_adc_ex.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_adc_ex.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_adc.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_adc.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_adc.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_cortex.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_cortex.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_cortex.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_dma_ex.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_dma_ex.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_dma_ex.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_dma.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_dma.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_dma.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_exti.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_exti.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_exti.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_flash_ex.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_flash_ex.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_flash_ex.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_flash_ramfunc.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_flash_ramfunc.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_flash_ramfunc.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_flash.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_flash.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_flash.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_gpio.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_gpio.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_gpio.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_i2c_ex.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_i2c_ex.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_i2c_ex.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_i2c.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_i2c.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_i2c.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_msp.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_msp.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_msp.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_pwr_ex.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_pwr_ex.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_pwr_ex.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_pwr.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_pwr.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_pwr.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_rcc_ex.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_rcc_ex.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_rcc_ex.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_rcc.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_rcc.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_rcc.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_tim_ex.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_tim_ex.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_tim_ex.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_tim.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_tim.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_tim.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_timebase_tim.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_timebase_tim.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_timebase_tim.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_uart_ex.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_uart_ex.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_uart_ex.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_uart.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_uart.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal_uart.o
MicroMouseProgramming_Code/build/release/stm32l4xx_hal.d
MicroMouseProgramming_Code/build/release/stm32l4xx_hal.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_hal.o
MicroMouseProgramming_Code/build/release/stm32l4xx_it.d
MicroMouseProgramming_Code/build/release/stm32l4xx_it.lst
MicroMouseProgramming_Code/build/release/stm32l4xx_it.o
MicroMouseProgramming_Code/build/release/syscalls.d
MicroMouseProgramming_Code/build/release/syscalls.lst
MicroMouseProgramming_Code/build/release/syscalls.o
MicroMouseProgramming_Code/build/release/sysmem.d
MicroMouseProgramming_Code/build/release/sysmem.lst
MicroMouseProgramming_Code/build/release/sysmem.o
MicroMouseProgramming_Code/build/release/system_stm32l4xx.d
MicroMouseProgramming_Code/build/release/system_stm32l4xx.lst
MicroMouseProgramming_Code/build/release/system_stm32l4xx.o
MicroMouseProgramming_Code/build/release/to_compile_flash.d
MicroMouseProgramming_Code/build/release/to_compile_flash.lst
MicroMouseProgramming_Code/build/release/to_compile_flash.o
MicroMouseProgramming_Code/build/release/usbd_storage_if.d
MicroMouseProgramming_Code/build/release/usbd_storage_if.lst
MicroMouseProgramming_Code/build/release/usbd_storage_if.o
MicroMouseProgramming_Code/build/release/user_diskio.d
MicroMouseProgramming_Code/build/release/user_diskio.lst
MicroMouseProgramming_Code/build/release/user_diskio.o
MicroMouseProgramming_Code/build/release/VL53L0X.d
MicroMouseProgramming_Code/build/release/VL53L0X.lst
MicroMouseProgramming_Code/build/release/VL53L0X.o
MicroMouseProgramming_Code/build/MicroMouseProgramming.map
